body{
    background: #202a3f;
   }
   .container{
    margin-top: 1px;
    margin-bottom: 20px;
   }

   .containerpl{
    margin-left: 28%;
   }
   .glyphicon-search{
    font-size: 20px;
   }
   /*
   .glyphicon-usd{
       font-size : 20px;
   }
   */
   .btn-default{
    background: orange;
    width: 150px;
    padding: 12.5px;
   }
   .form-control{
    padding: 25px;
    font-size: 20px;
   }