<p>
  login works!
</p>
<div class="container">
  <h2>Login / Register</h2>
  <!--<form action="/action_page.php">
  <form [formGroup]="signupForm">-->
  <form [formGroup]="signupForm" (ngSubmit) ="onSubmit">
    <div class="form-group">
      <label for="email">Email:</label>
      <input 
        type="email"
        class="form-control" 
        id="email" 
        formControlName = "email"
        placeholder="Enter email" 
        name="email">
        <span style="color:white" *ngIf="!signupForm.get('email').valid && 
        signupForm.get('email').touched" class="help-block">
        Not the good stuff</span>
      
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input 
        type="password" 
        class="form-control" 
        id="pwd" 
        formControlName = "pwd"
        placeholder="Enter password" 
        name="pwd">
        <span style="color:white" *ngIf="!signupForm.get('pwd').valid && 
        signupForm.get('pwd').touched" class="help-block">
        Enter something pal</span>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
	<button type="submit" class="btn btn-default">Register</button>
  </form>
</div>